



<div class="col-xs-offset-10">
      <div class="sidebar-nav affix" role="complementary">
       <div class="panel-group assessment">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        評価基準
      </h4>
    </div>
    <table class="table">
      <tbody>
			<tr>
				<th>　☆：</th>
				<td>なんでも聞いて！</td>
			</tr>
			<tr>
				<th>　◯：</th>
				<td>かなり詳しい</td>
			</tr>
			<tr>
				<th>　△：</th>
				<td>なんとなく知っている</td>
			</tr>
			<tr>
				<th>　×：</th>
				<td>名前だけ知っている<br>なにそれ？</td>
			</tr>
		</tbody>
	</table>

</div>               
</div>
      </div>
    </div>


