.navbar-default {
  background-color: #428bca;
}

.navbar-default .navbar-nav > li > a {
color: #ffffff;
}


.footer { 
}

a:link {

}
a:hover {
    color: #ff0000;
}
a:visited {
}

.nav-main-fontsize{
  font-size: 70px;

}

.nav-sub-fontsize{
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #000000;
background-color: transparent;
}

.navbar-default .navbar-brand {
color: #ffffff;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
color: #ffffff;
background-color: transparent;
}